<style>
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    text-align: center;
    background-color: #f9f9f9;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
</style>

{% extends 'base.html' %} {% block content %}
<div style="text-align: center">
  <div style="margin-bottom: 15px"></div>
  <div class="dropdown">
    <button
      class="btn btn-primary btn-lg btn-block dropdown-toggle"
      type="button"
      data-toggle="dropdown"
    >
      MANAGER
    </button>
    <div class="dropdown-content">
      <a class="dropdown-item btn-lg" href="{% url 'coursecontent_list' %}">content</a>
      <a class="dropdown-item btn-lg" href="{% url 'course_list' %}">courses</a>
      <a class="dropdown-item btn-lg" href="{% url 'semester_list' %}">semester</a>
      <a class="dropdown-item btn-lg" href="{% url 'student_list' %}">students</a>
    </div>
  </div>
</div>
<p></p>
<div style="text-align: center">
  <div style="margin-bottom: 15px"></div>
  <div class="dropdown">
    <button
      class="btn btn-primary btn-lg btn-block dropdown-toggle"
      type="button"
      data-toggle="dropdown"
    >
      PLANER
    </button>
    <div class="dropdown-content">
      <a class="dropdown-item btn-lg" href="{% url 'course_execution_create' %}">add course to semester</a>
    </div>
  </div>
</div>
{% endblock %}
